@font-face {
   font-family: 'ArbFONTS-kfnl';
   font-display: swap;
   src: url('file:///Users/abdo/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-06-17_192113/fonts/ArbFONTS-kfnl/font.ttf');
}
